certifi            
charset-normalizer 
colorama           
idna               
iniconfig         
packaging          
pip                
pluggy             
pytest             
requests           
urllib3            